## Pandas - Data Analysis
- Series Object - One dimensional data
- DataFrame Object - Two -Dimensional data
- Reading Data from CSV Files into DataFrames
- Processing DataFrames
    - Columns
    - Rows
- Updating DataFrames
- Writing DataFrame back to CSV Files

In [6]:
# Function to reac CSV data into a DataFrame and returns the DataFrame Object


import pandas as pd

filepath = 'DataFiles/income.csv' #Comma seperated value
def readCSVdata(filepath):
    return pd.read_csv(filepath)
incomedf = readCSVdata(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [7]:
# Function to print all column names in a single line
# GEOID state 2005 2006 2007 2008 2009 2010 2011 2012 2013

def printDataFramecolumns(df):
    columns = df.columns
    for column in columns:
        print(column,end=" ")
    return
printDataFramecolumns(readCSVdata(filepath))

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [16]:
# Function to access a specific row based on a state name or unique column name
def accessDataFrameRow(df,key):
    for row in df.values:     
        if key in row:
            #print('hai')
            for item in row:
                print(item,end=" ")
accessDataFrameRow(readCSVdata(filepath),47215)

04000US04 Arizona 45245 46657 47215 46914 45739 46896 48621 47044 50602

In [17]:
accessDataFrameRow(readCSVdata(filepath),47215)

04000US04 Arizona 45245 46657 47215 46914 45739 46896 48621 47044 50602

In [20]:
# Accessing a unique value based on row,column information
# Income of a state in a year

def valueFromRowColumn(df,rowkey,columnkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1]==rowkey:
            rowindex = i      
    columnindex = 0
    for i in range(len(df.values)):
        if df.columns[i] == columnkey:
            columnindex = i
    return df.values[rowindex][columnindex]
valueFromRowColumn(incomedf,'Alaska',2009)

'04000US02'

In [21]:
def getColumnIndex(df,columnkey):
    #columnindex = 0
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex = i
    return columnindex
getColumnIndex(incomedf,'2010')

7

In [22]:
def getRowIndex(df,rowkey):
    #rowindex = 0
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1]==rowkey:
            rowindex = i
    return rowindex
getRowIndex(incomedf,'Alaska')

1

In [27]:
def updateDatFromRowColumn(df,rowkey,columnkey,newdata):
    rowindex = getRowIndex(df,rowkey)
    columindex = getColumnIndex(df,columnkey)
    row = df.values[rowindex]
    row[columindex] = newdata
    df.loc[rowindex] = row
    return

In [28]:
updateDatFromRowColumn(incomedf,'Alaska','2009',22111)

In [29]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,22111,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [38]:
def addRowDataFrame(df,rowdata):
    lastrowindex = len(df.values-1)
    df.loc[lastrowindex+1] = rowdata
    return

In [ ]:
# Deleting the row in a data frame
def deleteFromDataFrame(df,rowkey):
    rowindex = getRowIndex

# Tasks

- Practice on Income Dataset
    - Define functions for the following data points
        - Average Income of all states from 2005 to 2013
        - State with highest average income in the last three years
        - State with lowest average income from 2007 to 2010(inclusive)
        - Print the list of all states in the same line with average income less than California
        - Print the names of states based on descending order of income in the year 2009
        - State with the lowest recorded income from 2005 to 2013

In [23]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [29]:
incomedf.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 47215, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528]], dtype=object)

In [31]:
# 1.Function to calculate average of all states from 2005 to 2013

def calcAvg(df):
    for i in df.values:
        s = 0
        for j in range(2,len(i)):
            s += i[j]
        print('Average of',i[1],':',s//9)
calcAvg(incomedf)

Average of Alabama : 41126
Average of Alaska : 60106
Average of Arizona : 47214
Average of Arkansas : 38828
Average of California : 55350

In [46]:
# 2.State with highest average income in the last three years

def highestAvgOfStateLast3Years(df):
    avgs = {}
    for i in df.values:
        s = 0
        for j in range(8,len(i)):
            s +=i[j]
        avgs[i[1]] = s//3
    #print(avgs)
    m = max(list(avgs.values()))
    #print(m)
    for item in avgs.items():
        if item[1]==m:
            print('State with highest average in last 3 years is:',item[0])
highestAvgOfStateLast3Years(incomedf)

State with highest average in last 3 years is: Alaska

In [48]:
# 3.State with lowest average income from 2007 to 2010(inclusive)

def lowestAvgOfState2007to2010Years(df):
    avgs = {}
    for i in df.values:
        s = 0
        for j in range(4,8):
            s +=i[j]
        avgs[i[1]] = s//4
    #print(avgs)
    m = min(list(avgs.values()))
    #print(m)
    for item in avgs.items():
        if item[1]==m:
            print('State with highest average in last 3 years is:',item[0])
lowestAvgOfState2007to2010Years(incomedf)

State with highest average in last 3 years is: Arkansas

In [53]:
# 4.Print the list of all states in the same line with average income less than California

def printListOfStatesAvgIsLessthanCalifornia(df):
    ds = {}
    for i in df.values:
        s = 0
        for j in range(2,len(i)):
            s += i[j]
        ds[i[1]] = s//9
    cal_avg = ds['California']
    print('States avg lessthan California is:')
    for item in ds.items():
        if item[1]<cal_avg:
            print(item[0])
        #print('Average of',i[1],':',s//9)
printListOfStatesAvgIsLessthanCalifornia(incomedf)

States avg lessthan California is:
Alabama
Arizona
Arkansas

In [71]:
# 5.Print the names of states based on descending order of income in the year 2009

def statesBasedOnDescendingOrder(df):
    ds = {}
    for i in df.values:
        s = 0
        for j in range(6,7):
            s = i[j]
            #print(i[j])
        ds[i[1]] = s
    print('States in descending order based on income of 2009 year is:')
    ls = sorted(list(ds.values()),reverse=True)
    for i in range(0,len(ls)):
        for item in ds.items():
            if ls[i]== item[1]:
                print(item[0])
statesBasedOnDescendingOrder(incomedf)

States in descending order based on income of 2009 year is:
Alaska
California
Arizona
Alabama
Arkansas

In [72]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [79]:
# 6.State with the lowest recorded income from 2005 to 2013


def stateWithLowestIncome(df):
    ds = {}
    for i in df.values:
        d = []
        for j in range(2,len(i)):
            d.append(i[j])
        ds[i[1]] = min(d)
    print('Lowest income state is')
    m = min(list(ds.values()))
    for item in ds.items():
        if m == item[1]:
            print(item[0])
    
    
stateWithLowestIncome(incomedf)

Lowest income state is
Arkansas